# Ignore everything
*

# Directories
!/.config/
!/.ssh/
!/.vim/

# Files
!/.bash_logout
!/.bash_profile
!/.bashrc
!/.fehbg
!/.git-prompt.sh
!/.gitconfig
!/.gitmodules
!/.gtkrc-2.0
!/.profile
!/.tmux.conf
!/.toprc
!/.vimrc
!/.wallpaper.*
!/.zcompdump
!/.zlogin
!/.zprofile
!/.zshrc

# Don't ignore gitignores
!.gitignore
