[user]
	name = Bill
	email = william.sellitti@gmail.com
[credential "https://gitlab.home.wesitcllc.com/"]
	username = will
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential "https://github.com/"]
	username = wsellitti
